header {
    background-color: var(--semi-transparent-black);
    box-shadow: rgb(0 0 0 / 25%) 0px 0px 20px 0px;
}

header * {
    letter-spacing: 2px;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.logo-text {
    display: inline-block;
    margin-right: -5px;
    font: normal 4.8rem var(--japanese-font);
    color: white;
    text-shadow: 5px 5px 6px #00000087;
}

.logo-img {
    width: 170px;
    height: auto;
    margin: 0 -60px 0 -20px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

nav button {
    font: normal 2rem var(--system-fonts);
    color: white;
    background: none;
    border: 2px solid transparent;
    padding: 25px 20px;
    margin-bottom: -1px;
    transition: ease-in-out .2s;
    cursor: pointer;
}

nav button.active,
nav button:hover {
    color: var(--light-red);
    border-bottom: 2px solid var(--light-red);
}

nav button {
    -webkit-transform: scaleY(0.93);
    -moz-transform: scaleY(0.93);
    -ms-transform: scaleY(0.93);
    -o-transform: scaleY(0.93);
    transform: scaleY(0.93);
}

@media screen and (max-width: 768px) {
    .logo-text {
        font-size: 3rem;
    }

    .logo-img {
        width: 135px;
    }

    nav {
        gap: 10px;
    }

    nav button {
        font-size: 1.1rem;
        padding: 5px 15px 20px 15px;
    }
}